<html>
        <head>
            <title> Cadastro Simpósio</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <style>
                    .vermeiao{
                        background-color:#d9382c;
                    }
                    .verdeclaro {
                        background-color:#F0F8FF;
                    }
                    body{
                        margin-left:100px;
                        margin-right: 100px;
                    }
                </style>
        
        </head>
        
    <body>         
             
                <center><img src = "http://libertas.edu.br/arquivos/simposioiclibertas/viiisimposio.png" width="700" height="250"/></center> 
                    </br> 
                <div class="alert alert-dark vermeiao"> 
                        
                    <h2 align='center'>Libertas Faculdades Integradas. Seu futuro é aqui!</h2>
                    <h3 align='center'>Cadastre-se na 8°edição do Simpósio Libertas</h3>
        
                </div>
            
                   
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome:</label>
                    <input type="text" class="form-control" id="nome_id" aria-describedby="emailHelp" placeholder="Nome completo">
                </div>
                <div class="form-group">
                        <label for="exampleInputPassword1">Email:</label>
                        <input type="text" class="form-control" id="email_id" placeholder="Email">
                </div>
                <div class="form-group">
                        <label for="exampleInputPassword1">CPF:</label>
                        <input type="text" class="form-control" id="senha_id" placeholder="CPF">
                </div>
                <div class="form-group">
                        <label for="exampleInputPassword1">Usuario:</label>
                        <input type="text" class="form-control" id="usuario_id" placeholder="Login">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha:</label>
                    <input type="text" class="form-control" id="senha_id" placeholder="Password">
                </div> 
                <div class="mx-auto" style="width: 200px;">
                    <button type="button" class="btn btn-success" style="float: right" id="cadastro">Finalizar Cadastro</button>
                </div>                  
                </form>
                   
                  
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https  ://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>