<!doctype html>
<html lang="en">

<head>
    <title>Nova Submissão</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-light bg-light" style="background: #28a745 !important;">
        <span class="navbar-brand mb-0 h1" style="color: white;">Cadastrar Submissão</span>
    </nav>
    <form style="margin-top: 20px; margin-left: 20px;">
        <div class="form-group">
            <label for="exampleInputEmail1">Data:</label>
            <input type="datetime" class="form-control" id="data" aria-describedby="data" placeholder="Insira a data ">
        </div>
        <div class="form-group">
            <label for="tituloapl">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Insira o Título">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Resumo:</label>
            <br />
            <textarea name="resumo" id="resumo" cols="100" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Palavras Chave:</label>
            <input type="text" class="form-control" id="palavraschaves" placeholder="">
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Área:</label>
                </div>
                <select class="custom-select" name="areas" id="areasID">
                    <option value="sis">Sistemas De Informação</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Status:</label>
                </div>
                <select class="custom-select" name="status" id="statusID">
                    <option value="sis">Em espera</option>
                </select>
            </div>
            
            
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Data Aceite:</label>
            <input type="datetime" class="form-control" id="data_aceite" aria-describedby="data" placeholder="Insira a data ">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Data Aprovacao:</label>
            <input type="datetime" class="form-control" id="data_aprovacao" aria-describedby="data" placeholder="Insira a data ">
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Orientador:</label>
                </div>
                <select class="custom-select" name="orientador" id="orientadorID">
                    <option value="ely">Ely Prado</option>
                </select>
            </div>
        </div>
        <div class="mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-nvsubmissao" id="enviar">Enviar</button>
        </div>
    </form>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https  ://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="script.js"></script>
</html>